/* styles.css */

body {
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
}

.navigation-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navigation-menu li {
  display: inline;
  margin-right: 20px;
}

.navigation-menu a {
  text-decoration: none;
  color: #0654b3;
}
.navigation-menu a:hover {
  text-decoration: underline;
}

a {
  color: #0654b3;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #002766;
}

ul, p {
  font-size: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
}
.sidebar {
  flex: 1;
  order: 1;
}
.main-content {
  flex: 2;
  order: 2;
}

.large-text {
  font-size: 3rem;
}
.high-contrast-text {
  color: #ffffff;
  background-color: #000000;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}