h1 {
    color: aqua;
}

[data-highlight] {
    background-color: yellow;
  }

  .button:hover {
    color: red;
  }

  .parent {
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid black;
    padding: 10px;
  }
  
  p {
    font-size: 20px;
    color: green;
  }
  
